body {
  width: 100%;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-image: linear-gradient(120deg, rgba(50, 150, 100, 0.4), rgba(0, 0, 100, 0)), linear-gradient(240deg, rgba(150, 50, 50, 0.4), rgba(0, 0, 200, 0));
  padding: 150px;
  perspective: 1500px;
}
.stage {
  width: 400px;
  height: 600px;
  background: url('https://www.17sucai.com/preview/1424582/2018-11-08/kp/img/3dr_mono.png') center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 15px;
}
.stage:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #414141;
  background: url(../img/600x600.jpg);
  z-index: -1;
  transform: translateZ(-50px);
  border-radius: 15px;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.8);
}
